@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);


/*************************
*******Typography******
**************************/

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color:#4e4e4e;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; 
  font-family: 'Open Sans', sans-serif;
  color:#fff;

}

h1{
  padding-top: 50px;
  font-size: 36px;
  color:#353E56;
}

h2{
  font-size: 20px;
  padding-left: 10px;
  color:#111;

}

h3{
  font-size: 16px;
  color: #4B7AAB;
  font-weight: 400;
  line-height: 24px;
}

h4{
  font-size: 16px;
}

a {
  color: #c52d2f;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
  color: #d43133;
}

body > section {
  padding: 70px 0;
}

/*************************
*******Header******
**************************/

#header .search{
  display: inline-block;
}

.navbar>.container .navbar-brand{
  margin-left: 0;
}

.top-bar {
  padding:10px;
  background: #111;
  border-bottom: 1px solid #222;
  line-height: 28px;
}

.search{
  padding-left: 70px;
  width: 20px;
}
 
.search i {
  color: #fff;
  padding-top: 20px;
}

input.search-form{
  background: transparent;
  position: relative;
  margin-top: 15px;
  width: 40%;
  min-width: 60px;
  height: 20px;
  float: right;
  border: 0 none;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

input.search-form:hover::-webkit-input-placeholder{
  color: transparent;
}

input.search-form:hover::-webkit-input-placeholder {
  color: #fff;
}

input.search-form:hover {
  width: 180px;
  height: 30px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: #F3F3F3;
  padding: 20px 0;
  padding-bottom: 0;
}

 .navbar-nav{
  margin-top: 8px;
 }

.navbar-nav>li{
  margin-left: 10px;
  padding-bottom: 20px;
}

.navbar-inverse .navbar-nav > li > a {
  padding: 10px 10px;
  margin: 0;
  border-radius: 3px;
  color: #000;
  line-height: 24px;
  display: inline-block;
}

.navbar-inverse .navbar-nav > li > a:hover{
	background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse {
  border: none;
}

.navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: rgba(0,0,0,.85);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before{
  position: absolute;
  top:0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
  background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
  background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}


/*************************
*******Home Page******
**************************/


#main-slider {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.padd-box{
  position:inherit;
  background-color: #E65D46;
  padding-top:10px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  
 }
.padd-box2{
  position:inherit;
  background-color: #20659F;
  padding-top:10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

 }

 p{
  color: #fff;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
 #feature p{
  color: #3C3C3C;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
#feature2 p{
  color: #3C3C3C;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
 
 #middle p{
  color: #3C3C3C;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.no-margin {
  margin: 0;
  padding-top:0px;
}



#main-slider .carousel .carousel-content {
  margin-top: 150px;
}

#main-slider .carousel .slide-margin{
  margin-top: 140px;
}

#main-slider .carousel h2 {
  color: #fff;
}

.box_container_text{
  left: 20px;
  padding-top:440px;
}



.img-circle {
  float: left;
  margin: 0 0 0 30px;
  position: relative;
  padding-top: 10px;
  border-radius: 50%;
  display:inline-block;

}

.col-lg-4 {
    width: 50%;
}
.col-lg-12{
  padding-top: 10px;
}
#main-slider .carousel .item {
  position: absolute;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  height: 490px;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}

#main-slider .carousel .item:first-child {
  top: auto;
  position: relative;
}

#main-slider .carousel .item.active {
  background-image: 100px;


  opacity: 1;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 1;
}

.fa-play-circle-o{
  padding-top: 35px;
  padding-left: 550px;

}

#feature {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 0px;
}

#feature2 {
  background: #fff;
  padding-top:0px;
  padding-bottom: 40px;
}

#recent-works .col-xs-12.col-sm-4.col-md-3{
  padding: 0px;
}

#recent-works{
    padding-bottom: 70px;
}
.recent-work-wrap {
  position: relative;
  
}

.recent-work-wrap img{
  width: 100%;

}

.recent-work-wrap .recent-work-inner{
  top: 0;
  background: transparent;
  opacity: .8;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
}

.recent-work-wrap .recent-work-inner h3{
  margin: 10px 0;
}

.recent-work-wrap .recent-work-inner h3 a{
  font-size: 24px;
  color: #fff;
}

.recent-work-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0;
  background: #c52d2f;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;  
  padding: 30px;
}

#services {
  background: #2950c4;
  padding: 70px 0;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 70px;
    padding-left: 0px;
}
.Events{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left:20px;
  color: #fff;
}

span{
  position: absolute;
    top: 190px;
    right:180px;
    display: circle;
    margin: auto;
    padding: 10px 18px;
    background: #f9ce06;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(249, 206, 6);
    color: #222;
    font-family: HelveticaNeueLTStd-Bold;
    font-size: 16px;
    text-align: center;
    margin-top: 18px;
    
}

#services2 {
  padding: 70px 0;
  padding-top: 40px;
  padding-bottom: 70px;
  background-color: #37afa9;
   
}

#services h2{
  color: #fff;
}
.Annual{
  color: #fff;
  padding-left: 90px;
}
#Camp{
  background: #fff;
  padding-top: 10px;
  padding-left: 30px;
}
#middle {
  background: #f2f2f2;
}

.skill h2{
  margin-bottom: 25px;
}



.accordion h2{
  margin-bottom: 25px;
}


/***********************
****Service page css****
***********************/

.services {
  padding: 10px;
}
.footer {
  background: none repeat scroll 0 0 #2E2E2E;
  border-top: 5px solid #C52D2F;
  height: 84px;
  margin-top: 110px;
}
.footer_left {
  padding: 10px;
}

.text-left {
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 15px;
}

/***********************
********* Footer ******
************************/
#bottom {
  background: #1e4970;
  border-bottom: 5px solid #f0f0f0;
  font-size: 14px;
}

#bottom h3 {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size:22px;
  color: #fff;
}

#bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#bottom ul li {
  display: block;
  padding: 5px 0;
}

#bottom ul li a {
  color: #fff;
}

#bottom ul li a:hover {
  color: #fff;
}

#bottom .widget {
  margin-bottom: 0;
}

#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #162343;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #c52d2f;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}






